body {
    background-color: #170f07;
}

.container {
    height: 100vh;
    width: 800px;
    margin: auto;
    background-image: url("../images/wall.png");
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    padding-bottom: 1rem;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2, .menu-score h2, .menu-lives {
    margin-top: 1rem;
    text-align: center;
}

.panel-container {
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 468px;
    margin: 1rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #32150b;
}

.square {
    height: 150px;
    width: 150px;
    background-color: #040404;
    border: 10px solid #461d0f;
}

.enemy {
    background-image: url("../images/ralph.png"), linear-gradient(to top right, rgb(2, 2, 61), rgb(217, 246, 128));
    background-size: cover;
}

.start, .stop, .pause {
    width: 150px;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px rgb(15, 15, 16);
}

.start:active, .stop:active, .pause:active {
    position: relative;
    top: 2px;
    color: #ff0000;
}

.message {
    min-width: 720px;
    font-size: 5rem;
    position: absolute;
    bottom: 40%;
    color: rgb(255, 0, 93);
    text-shadow: 2px 2px #000000;
}

#message {
    min-width: 720px;
    text-align: center;
}

.hide {
    display: none;
}